.modal-about-overview {
  padding-top: 5px;
  padding-bottom: 15px;
  font-weight: bold;
}

.modal-about-overview .overview-about-modal {
  padding-bottom: 5px;
}

mat-dialog-content p {
  margin-top: 20px;
  font-size: 17px;
  padding-top: 8px;
  font-weight: 400;
}
