<h1 mat-dialog-title class="modal-about">Aligator CRM</h1>
<mat-dialog-content class="mat-typography">
  <h1 class="about-modal">About FullStack MEAN CRM</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur excepturi ipsum iure nobis nostrum officiis porro quod recusandae similique totam?</p>
  <p class="last-modal-about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, modi!</p>
  <h1 class="modal-about-version">Web application main page</h1>
  <p class="route"><strong><a routerLink="/">http://localhost:4200/login</a></strong></p>
  <h1 class="tec-h2">CRM Front-end Technologies</h1>
  <ul class="ul-modal-list">
    <li><strong>Angular 10</strong></li>
    <li><strong>Angular Material</strong></li>
  </ul>
  <h1 class="tec-h2">CRM Back-end Technologies</h1>
  <ul class="ul-modal-list">
    <li><strong>NodeJS</strong></li>
    <li><strong>ExpressJS</strong></li>
    <li><strong>MongoDB</strong></li>
  </ul>
  <h1 class="modal-author">Author</h1>
  <h2 class="author"><i>Oleh Yaremyn</i></h2>
  <h1>Contact</h1>
  <h2><i>oleh_yaremyn@ukr.net</i></h2>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="warn" mat-dialog-close>Close</button>
</mat-dialog-actions>
