.modal-about {
  padding-top: 5px;
  padding-bottom: 15px;
  font-weight: bold;
}

.modal-about .about-modal {
  padding-bottom: 10px;
}

.last-modal-about-p {
  padding-bottom: 15px;
}

.modal-about .modal-about-version {
  padding-bottom: 10px;
}

.modal-about .route strong {
  padding-bottom: 20px;
  font-size: 15px;
}

.tec-h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ul-modal-list {
  padding-bottom: 15px;
}

.ul-modal-list li {
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 5px;
}

.modal-author {
  padding-top: 10px;
  padding-bottom: 5px;
}

.modal-author .author i {
  font-size: 20px;
}
