.category-page {
  margin: 80px auto;
  padding: 0 5rem;
  max-width: 100%;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.page-title h1 {
  font-size: 50px;
  font-weight: 400;
}

.add-category-btn button {
  padding: 5px 30px 5px 30px;
  font-size: 18px;
  font-weight: 400;
}

.category-page .page-content .list {
  margin: 70px auto;
}

.category-page .page-content .list mat-list mat-list-item {
  padding: 10px 5px;
  font-size: 25px;
  font-weight: 400;
  width: 99%;
  cursor: pointer;
  margin-bottom: 3px;
}

.category-page .page-content .list mat-list mat-list-item a {
  text-decoration: none;
  color: #3F51B5;
}

.category-page .page-content .list mat-list mat-list-item a:hover {
  text-decoration: none;
  color: #FF4081;
}

.empty-data {
  margin: 250px auto;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  padding: 25px 10px 10px 10px;
  width: 300px;
  background: #FF4081;
  color: white;
}
