<mat-card class="login-form-card">
  <mat-card-header>
    <h1>Login</h1>
  </mat-card-header>

  <mat-card-content>
    <div class="card-content-form">
      <form class="card" [formGroup]="form" (ngSubmit)="submit()">

        <div
          class="form-control"
          [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}">
          <mat-form-field class="mat-form-field-email">
            <mat-label for="email">Email</mat-label>
            <input matInput formControlName="email" type="email" id="email" placeholder="Ex. pat@example.com">
            <mat-error
              *ngIf="form.get('email').touched && form.get('email').invalid"
              class="validation"
            >
              <small *ngIf="form.get('email').errors.required">
                Please enter email
              </small>
              <small *ngIf="form.get('email').errors.email">
                Please enter a valid email address
              </small>
            </mat-error>
          </mat-form-field>
        </div>

        <div
          class="form-control"
          [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}">
          <mat-form-field class="mat-form-field-password">
            <mat-label for="password">Password</mat-label>
            <input matInput formControlName="password" style="border: none" id="password" type="password">
            <mat-error
              *ngIf="form.get('password').touched && form.get('password').invalid"
              class="validation"
            >
              <small *ngIf="form.get('password').errors.minlength">
                Min password length must be
                {{form.get('password').errors.minlength.requiredLength}}
                symbols. Now it is
                {{form.get('password').errors.minlength.actualLength}}
                symbols
              </small>
              <small *ngIf="form.get('password').errors.required">
                Please enter password
              </small>
            </mat-error>
          </mat-form-field>
        </div>

        <button mat-flat-button color="accent"
                type="submit"
                class="signin-btn"
                [disabled]="form.invalid || submitted">
          Sign in
        </button>
      </form>
    </div>
  </mat-card-content>
</mat-card>

<button class="about-btn" mat-fab color="warn" (click)="openDialog()">
  <mat-icon>info</mat-icon>
</button>
