<h1 mat-dialog-title class="modal-info-analytics">Info</h1>
<mat-dialog-content class="mat-typography">
  <h1 class="analytics-info-modal">Info about analytics page</h1>
  <p>The analytics page shows graphs showing the dynamics of revenue and sales of orders. <br> Here you can also see the average amount of the order check.
     It will help you understand <br> how profitable is your business using informative graphs</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="warn" mat-dialog-close>Close</button>
</mat-dialog-actions>
